@charset "utf-8";

.dongle-regular {
  font-family: "Dongle", sans-serif;
  /* font-weight: 400;
  font-style: normal; */
}
.freehand-regular {
  font-family: "Freehand", cursive;
  font-weight: 400;
  font-style: normal;
}

.wrap {
  position: relative;
}
body {
  font-family: "Dongle", sans-serif;
}
.hd {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: 1rem;
}

.hd svg {
  width: 95px;
  height: 34px;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}
@media (min-width: 1200px) {
  .hd .gnb {
    width: 70%;
    /* border: 2px solid purple; */
    margin-left: 5rem;
    top: 3rem;
    font-size: 2rem;
    color: gray;
    padding: 2rem;
    flex-wrap: nowrap;
  }

  .hd .gnb > a:focus {
    color: black;
  }
  .hd .gnb a {
    padding: 5px 25px;
  }
  .hd .searchWrap {
    position: relative;
    padding: 1rem;
  }
  .searchWrap i {
    position: absolute;
    color: #928c8c;
    transform: translate(-180%, 50%);
    top: 30%;
  }

  .hd .searchWrap input {
    border: 1px solid #eaeaea;
    background-color: #f2f1f1;
    outline-color: #eaeaea;
    font-size: 2rem;
    font-family: "Dongle", sans-serif;
    color: #928c8c;
    width: 300px;
    height: 60px;
    border-radius: 20px;
  }
  .ham {
    display: none;
  }
}

@media (max-width: 1200px) {
  .gnb {
    display: none;
  }
  .ham {
    display: block;
    top: 30%;
    transform: translate(-80%, 40%);
  }
  .hd .searchWrap {
    position: relative;
    padding: 1rem;
    transform: translateX(70%);
  }
  .searchWrap i {
    position: absolute;
    color: #928c8c;
    top: 40%;
    right: 2rem;
  }
  .hd .searchWrap input {
    border: 1px solid #eaeaea;
    background-color: #f2f1f1;
    outline-color: #eaeaea;
    font-size: 2rem;
    font-family: "Dongle", sans-serif;
    color: #928c8c;
    width: 300px;
    height: 60px;
    border-radius: 20px;
  }
}

@media (max-width: 950px) {
  .searchWrap {
    display: none;
  }
}

.mainVisual {
  position: relative;
}
.mainVisual img {
  /* position: relative; */
  overflow: hidden;
  border: 0;
  width: 100%;
  /* height: 55rem; */
  margin: auto;
  filter: brightness(60%);
  z-index: 0;
}

.mainVisual .inner > * {
  /* border: 3px solid red; */
  /* position: absolute; */
  text-align: center;
  /* top: -20%; */
}

.mainVisual .inner h2 {
  /* border: 3px solid red; */
  width: 880px;
  font-size: 7vw;
  font-weight: bold;
  line-height: 74px;
  color: white;
  top: 26%;
  left: 50%;
  z-index: 2;
  position: absolute;
  transform: translate(-50%, -50%);
}
.mainVisual .inner p {
  width: 710px;
  font-size: 3vw;
  line-height: 32px;
  color: white;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 36%;
  transform: translate(-50%, -50%);
}
.mainVisual a {
  position: absolute;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;
  padding-top: 1rem;
  color: white;
  width: 15rem;
  height: 67px;
  font-size: 2.5vw;
  z-index: 2;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 46%;
}

.inner2 {
  text-align: center;
  padding: 300px 0px 150px 0;
  position: relative;
}
.inner2 > * {
  top: 5%;
}
.mainVisual .inner2 h2 {
  position: absolute;
  width: 500px;
  font-size: 88px;
  margin-top: 120px;
  left: 50%;
  transform: translate(-50%, 20%);
  font-weight: bold;
  z-index: 2;
  color: #67666a;
}
.mainVisual .inner2 h3 {
  font-family: "Freehand", cursive;
  width: 830px;
  position: absolute;
  font-size: 100px;
  z-index: 0;
  color: #f0f0f0;
  left: 50%;
  transform: translate(-50%, 90%);
}
.mainVisual .inner2 p {
  position: absolute;
  width: 780px;
  font-size: 48px;
  line-height: 30px;
  font-weight: lighter;
  color: #67666a;
  left: 50%;
  /* top: 100%; */
  transform: translate(-50%, 250%);
}

.mainVisual .vector {
  position: absolute;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, 350%);
  margin-top: 180px;
}

@media (max-width: 900px) {
  .mainVisual .inner h2,
  .mainVisual .inner p {
    bottom: 40%;
  }
  .mainVisual .inner a {
    width: 11rem;
    font-size: 2rem;
    top: 40%;
  }
  .mainVisual .inner2 p {
    font-size: 2rem;
  }
}

.addMenu {
  width: 100%;
  margin-top: 10%;
  display: flex;
}

.addMenu .menu p {
  position: relative;
  background-color: #c10000;
  left: -10%;
  top: 3rem;
  width: 12vw;
  height: 6.25vw;
  color: white;
  font-size: 3.75vw;
  text-align: center;
  padding-top: 1.2rem;
  padding-left: 0.1rem;
  z-index: 2;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.addMenu .swiper {
  padding: 0.5rem 0;
  display: flex;
}
.swiper-slide {
  border: 1px solid white;
  position: relative;
  width: 50%;
  z-index: 1;
  padding: 5rem 0;
  align-items: center;
}
.addMenu .card {
  position: absolute;
  width: 80%;
  height: 8vw;
  display: flex;
  bottom: 0.5rem;
  left: 1rem;
  background-color: white;
  align-items: center;
  border-radius: 30px;
  justify-content: space-evenly;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.addMenu .card > p {
  font-size: 2vw;
  text-align: center;
  margin-right: 40px;
}
.addMenu .card img {
  width: auto;
  height: auto;
}
.addMenu .card .fa-plus {
  background-color: #c10000;
  width: 2.56vw;
  height: 2.56vw;
  border-radius: 50%;
  color: white;
  position: absolute;
  text-align: center;
  right: 32px;
  bottom: 45px;
  font-size: 2vw;
  padding-top: 0.2rem;
  right: 1rem;
}
.addslide .card:focus {
  transform: translateY(-10px);
  border: 1px solid #c10000;
}
.addslide li:hover .card {
  transform: translateY(-10px);
  border: 1px solid #c10000;
}

.addslide li:hover .fa-plus {
  transform: rotate(120deg);
}

@media (max-width: 1200px) {
  .addMenu .card {
    width: 90%;
    height: 70%;
    justify-content: space-evenly;
  }
  .addMenu .card img {
    width: 40%;
  }
  .addMenu .menu p {
    left: 10%;
    /* width: 100%; */
    margin-top: 15%;
  }
  .addMenu .card .fa-plus {
    text-align: center;
    top: 2.5rem;
    right: 1rem;
  }
}
/* pizzamenu 수정 필요 */
.pizzaMenu .desc {
  width: 80%;
  height: 70%;
}
.pizzaMenu .desc > * {
  margin-top: 0.5rem;
}
.menu > li {
  position: relative;
  margin-bottom: 5rem;
  padding-right: 2rem;
  display: flex;
}
.pizzaMenu h2 {
  width: 100%;
  font-size: 73px;
  font-weight: bold;
  padding: 5rem;
}
.menu .desc h3 {
  position: absolute;
  height: 45px;
  z-index: 1;
  background-color: #67666a;
  color: white;
  padding-bottom: 3rem;
  width: 70%;
}

.pizzaMenu .desc h3 strong {
  padding-left: 4rem;
  font-size: 60px;
  margin-bottom: 1rem;
}
.pizzaMenu .desc span {
  position: absolute;
  font-size: 40px;
  top: 0.5rem;
  transform: translateX(180%);
}

.menu .menuList {
  position: absolute;
  background-color: #dedede;
  width: 70%;
  height: 85%;
  z-index: 0;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px 50px;
  /* flex-wrap: nowrap; */
}
.menuList > li {
  font-size: 2.5rem;
  width: 60%;
  transform: translate(10%, 70%);
  padding: 1rem;
}

.menuList > li::before {
  content: "";
  list-style-type: disc;
  list-style-position: inside;
}
.pizzaMenu .menu img {
  width: 100%;
  /* object-fit: cover; */
  z-index: 999;
}
.pizzaMenu .desc button {
  position: absolute;
  background-color: #c10000;
  border: solid #c10000;
  color: white;
  z-index: 1500;
  top: 70%;
  left: 35%;
  width: 10%;
  height: 40px;
  border-radius: 10px;
  font-size: 15px;
}
/* .menu > li:nth-of-type(odd) .desc {
  order: 1;
} */
.menu > li:nth-of-type(2) {
  flex-direction: row-reverse;
}
@media (max-width: 1100px) {
  .pizzaMenu .menu img {
    width: 50%;
  }
  .menu .menuList {
    height: 110%;
    width: 70%;
    grid-template-rows: 30px 30px 30px;
  }
  .pizzaMenu .desc button {
    width: 13%;
    bottom: 60%;
    transform: translate(50%, 120%);
  }
  .menuList > li {
    font-size: 2rem;
  }
}
.vector2 {
  padding-top: 4vw;
}

.plusMenu {
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.plusMenu .plus {
  display: flex;
  margin: auto;
  width: 100%;
}
.plusMenu .card {
  position: relative;
  width: 100%;
  margin: auto;
  /* top: 0;
  left: 0; */
  padding: 2rem;
}

.plusMenu p {
  font-size: 4vw;
  color: white;
  position: absolute;
  bottom: 27%;
  left: 15%;
}
.plusMenu .plus img {
  filter: brightness(55%);
}
@media screen and (max-width: 1200px) {
  .plusMenu .card img {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .plusMenu .plus {
    display: flex;
    flex-direction: column;
    margin-top: 30%;
  }
  .plusMenu .card img {
    width: 70%;
    height: 22rem;
    transform: translateX(20%);
  }
  .plusMenu .card {
    padding: 1rem;
    margin: auto;
  }
  .plusMenu p {
    font-size: 3rem;
    left: 20%;
  }
}
.opinion {
  padding: 9rem 0 100px 0;
}
.mw2 {
  max-width: 800px;
  width: calc(100% - 2rem);
  margin: auto;
  background-color: #f6f6f6;
  padding: 3.5rem;
  border-radius: 40px;
}
.opinion h2 {
  text-align: center;
  padding: 0.5rem 0;
  font-size: 4rem;
  font-weight: bold;
  transform: translateY(-28%);
}

.opinion form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  gap: 1rem;
  position: relative;
}

.opinion label:nth-of-type(2) {
  order: 10;
}
.opinion label:nth-of-type(3) {
  grid-row: span 2;
}

.opinion button {
  border: 2px solid #c10000;
  color: #c10000;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 3rem;
  border-radius: 3rem;
  font-size: 1rem;
  font-weight: bold;
}
.opinion label {
  position: relative;
  padding-left: 1rem;
  bottom: 2rem;
}
.opinion label input {
  position: absolute;
  left: 2.5rem;
}

.opinion label span {
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  transition: 0.3s;
  color: #7a8f94;
  font-size: 1.5rem;
}

.opinion label input,
.opinion label textarea {
  width: 80%;
  height: 40%;
  outline: none;
  border: white;
  border-radius: 1rem;
  padding: 1rem;
}
.opinion label textarea {
  border-bottom: 3rem;
  height: 70%;
}

.opinion label input:focus,
.opinion label textarea:focus {
  background-color: white;
}

.opinion label input:focus + span,
.opinion label textarea:focus + span {
  top: -30px;
  color: #f6f6f6;
}
@media screen and (max-width: 800px) {
  .opinion form {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    justify-content: center;
  }

  .opinion label:nth-of-type(3) {
    order: 10;
  }
  .mw2 {
    width: calc(100% - 6rem);
    height: 60%;
    margin: auto;
  }
  .opinion h2 {
    font-size: 3rem;
    margin: 2rem 0;
  }
  .opinion label input {
    transform: translateX(-5%);
  }
  .opinion label textarea {
    transform: translateX(5%);
    padding-left: 1rem;
  }
  .opinion button {
    bottom: 0.3rem;
  }
}
.foot {
  width: 100%;
  /* height: 100%; */
  background-color: #f6f6f6;
}

.foot .inner {
  width: 100%;
  text-align: left;
}

.foot .inner strong {
  font-size: 2.5rem;
  font-weight: bold;
}
.foot .inner a {
  font-size: 2rem;
  color: #67666a;
  /* display: flex;
  flex-direction: column; */
}

.foot .contact {
  width: 14.5%;
  transform: translate(20%, 65%);
}
.foot .info {
  width: 20%;
  transform: translate(120%, -40%);
}
.foot .help {
  width: 30%;
  transform: translate(140%, -140%);
}

.foot .info a,
.foot .help a {
  display: flex;
  flex-direction: column;
}

.foot .right {
  padding: 2rem 0;
  margin-left: 80%;
  transform: translateY(-300%);
}
.foot .right a {
  padding: 0.3rem;
}

@media screen and (max-width: 800px) {
  .foot .inner a {
    font-size: 1.5rem;
  }
}
